.movie-carousel-container {
  width: 100vw;
  background-color: black;
}

.movie-card-container {
  height: 90vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.movie-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(to bottom, â˜ rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
}

.movie-detail {
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  z-index: 2;
  color: white;
}

.movie-poster {
  height: 300px;
}

.movie-poster > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.movie-title{
    color:antiquewhite;
    align-items: start;
}