.movie-carousel-container {
  width: 100vw;
  background-color: black;
}

.movie-card-container {
  height: 90vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.movie-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
}

.movie-detail {
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  z-index: 2;
  color: white;
}

.movie-poster {
  height: 300px;
}

.movie-poster > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.movie-title{
    color:antiquewhite;
    align-items: start;
}


.movie-buttons-container{
display: flex;
justify-content: space-between;
align-items: center;
width: 300px;
}
.play-button-icon-container{
padding:0px;
margin:0px;
width:150px;
}
.play-button-icon{
  padding: 0px;
  margin: 0px;
  color:gold;
  font-size: 3rem;
  transform: 0.3s;
  cursor: pointer;
}

.play-button-icon:hover{
  font-size: 3rem;
  color:goldenrod;
}

@media only screen and (max-width: 800px){
  .movie-detail{
    flex-direction: column;
    align-items: center;
    top: 20px;
  }
}



